.contact-btn {
    width: 150px;
    margin: 16px auto 0 auto;
    display: block;
    --ion-color-base: linear-gradient(180deg, #CCA64F, #996A22) !important;
    --ion-color-contrast: #fff !important;
}