<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <form>

      <ion-item>
        <ion-input placeholder="Please enter your Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Please enter your Email Address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Please enter your Phone Numner"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea maxRows="5" placeholder="Type your Message Here..."></ion-textarea>
      </ion-item>
      <ion-button class="contact-btn" type="submit" color="warning">Send</ion-button>
    </form>
  </ion-card>

  <ion-card>
    <app-google-map></app-google-map>
  </ion-card>
  <app-footer></app-footer>
</ion-content>