<app-header></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <form>

      <ion-item>
        <ion-input placeholder="Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Message"></ion-input>
      </ion-item>
      <ion-button class="contact-btn" type="submit" color="warning">Send</ion-button>
    </form>
  </ion-card>

  <ion-card>
    <app-google-map></app-google-map>
  </ion-card>
  <app-footer></app-footer>
</ion-content>