<ion-card>
  <ion-text>
    <div class="footer-main">
      <img src="../../../assets/img/logo.svg" alt="" />
      <p>Simplicity and power packed into a beautiful, feature filled, fast, mobile template.</p>
      <ul class="social-links">
        <li><a href=""><img src="assets/img/facebook.svg"></a></li>
        <li><a href=""><img src="assets/img/twitter.svg"></a></li>
        <li><a href=""><img src="assets/img/mail.svg"></a></li>
        <li><a href=""><img src="assets/img/phone.svg"></a></li>
        <li><a href=""><img src="assets/img/share.svg"></a></li>
      </ul>
      <div class="footer-menu">
        <a href="">Privacy Policy </a>
        <a href="">Terms of Service</a>
        <a href="#">Back to Top</a>
      </div>
      <span>Copyright © <a href="">Marian</a> - 2020. All Rights Reserved</span>
    </div>
  </ion-text>
</ion-card>