<ion-card>
  <ion-text>
    <div class="footer-main">
      <img src="../../../assets/img/logo-dark.png" alt="" />

      <div class="foot-text">
        <label>Retreat Center
          <span>Grace | Anointing | Healing | Deliverance</span>
        </label>
        <p>
          It is the spirit that gives life; the flesh is useless.The words that I have spoken to you are spirit and
          life.
          [John 6:63]
        </p>
      </div>
      <ul class="social-links">
        <li><a href=""><img src="assets/img/facebook.svg"></a></li>
        <li><a href=""><img src="assets/img/twitter.svg"></a></li>
        <li><a href=""><img src="assets/img/mail.svg"></a></li>
        <li><a href=""><img src="assets/img/phone.svg"></a></li>
        <li><a href=""><img src="assets/img/share.svg"></a></li>
      </ul>
      <div class="footer-menu">
        <a href="">Privacy Policy </a>
        <a href="">Terms of Service</a>
        <a href="#">Back to Top</a>
      </div>
      <span>Copyright © <a href="">Marian</a> - 2020. All Rights Reserved</span>
    </div>
  </ion-text>
</ion-card>