<app-header></app-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-title>About</ion-title>
    <ion-text>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae aperiam recusandae facere, magni impedit quo eaque
      corrupti quis hic fugit perspiciatis, blanditiis consequatur. Fugiat odit repellendus veritatis voluptas sit
      facilis.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe, deserunt. Eaque, animi ea non nemo, aliquid at
      exercitationem dolore eligendi nulla tenetur qui mollitia? Optio ex magni eum quisquam rem?
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, maxime amet veniam quod officia impedit possimus
      dicta repellendus beatae fugit exercitationem eos ea quidem error voluptate delectus autem iste odio.
    </ion-text>
  </ion-card>
  <app-footer></app-footer>
</ion-content>